@model TranslatorApp.ViewModels.TranslationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Translation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TranslationText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TranslationText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTranslated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTranslated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
